@font-face {
    font-family: 'Iglesia';
    src: local('Iglesia'), url('./app/fonts/Iglesia/Iglesia.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Amaranth';
    src: local('Amaranth'), url('./app/fonts/Amaranth/Amaranth-Regular.ttf');
    font-weight: 400;
}

body {
    background: #aea4bf;
}
